body {
  margin: 0 auto;
  background-color: black;
}

.student_wrapper {
  width: 100%;
  color: white;

  display: grid;

  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;

  padding: 10px;
}
.student {
  padding: 10px;
}

header {
  display: flex;

  background-image: url("photo-1502883687597-739575b8911d.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

header h1 {
  padding: 20px;

  color: white;
  font-family: "Great Vibes", cursive;
  animation: fade 3s;
}

header img {
  width: 150px;
  height: 150px;

  margin-left: auto;
  padding: 20px;

  animation: fade 3s;
}

.intro {
  color: white;
  font-family: "Great Vibes", cursive;

  text-align: center;
  font-size: 2em;
  padding: 10px;
  animation: fade 3s;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.name {
  text-decoration: underline;
  font-size: 1.5em;

  font-family: Georgia, "Times New Roman", Times, serif;
  transition: opacity 0.5s ease-in-out;
  cursor: default;
}

.house {
  cursor: default;
  padding-top: 5px;
  color: beige;
  font: italic;

  font-size: 1.2em;
  font-family: Georgia, "Times New Roman", Times, serif;
}
